#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  meshcentral-app.service
BindsTo=meshcentral.service
After=meshcentral.service mongo-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/meshcentral-app.pid %t/meshcentral-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/meshcentral-app.pid \
    --cidfile %t/meshcentral-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/meshcentral.pod-id --replace -d --name  meshcentral-app \
    --env-file=%S/state/environment \
    --volume meshcentral-data:/opt/meshcentral/meshcentral-data:Z \
    --volume meshcentral-files:/opt/meshcentral/meshcentral-files:Z \
    --volume meshcentral-backups:/opt/meshcentral/meshcentral-backups:Z \
    --volume mongo-app:/data/db:Z \
    --volume mongo-configdb:/data/configdb:Z \
    --env HOSTNAME=${TRAEFIK_HOST} \
    --env REVERSE_PROXY=${TRAEFIK_HOST} \
    --env REVERSE_PROXY_TLS_PORT=443 \
    --env IFRAME=false \
    --env ALLOW_NEW_ACCOUNTS=false \
    --env WEBRTC=false \
    --env NODE_ENV=production \
    ${MESHCENTRAL_IMAGE}
ExecStartPost=/usr/bin/podman exec meshcentral-app sed -i "s|\"cert\": \"meshcentral\"|\"cert\": \"${TRAEFIK_HOST}\"|" meshcentral-data/config.json
ExecStartPost=/usr/bin/podman exec meshcentral-app sed -i "s|\"port\": 443|\"port\": 8989|" meshcentral-data/config.json
ExecStartPost=/usr/bin/podman exec meshcentral-app sed -i "s|\"_aliasPort\": 443|\"aliasPort\": 443|" meshcentral-data/config.json
ExecStartPost=/usr/bin/podman exec meshcentral-app sed -i "s|\"redirPort\": 80|\"redirPort\": 0|" meshcentral-data/config.json
ExecStartPost=/usr/bin/podman exec meshcentral-app sed -i "s|\"TLSOffload\": false|\"TLSOffload\": \"127.0.0.1\"|" meshcentral-data/config.json
ExecStartPost=/usr/bin/podman exec meshcentral-app sed -i "s;\"mongodb\": \"mongodb://mongodb:27017/mesh\";\"mongodb\": \"mongodb://mongo-app:27017/mesh\";" meshcentral-data/config.json
ExecStop=/usr/bin/podman exec meshcentral-app rm meshcentral-data/config.json
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/meshcentral-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP meshcentral-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/meshcentral-app.ctr-id
PIDFile=%t/meshcentral-app.pid
Type=forking

[Install]
WantedBy=default.target
