#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  meshcentral-app.service
BindsTo=meshcentral.service
After=meshcentral.service mongo-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/meshcentral-app.pid %t/meshcentral-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/meshcentral-app.pid \
    --cidfile %t/meshcentral-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/meshcentral.pod-id --replace -d --name  meshcentral-app \
    --env-file=%S/state/environment \
    --volume meshcentral-data:/opt/meshcentral/meshcentral-data:Z \
    --volume meshcentral-files:/opt/meshcentral/meshcentral-files:Z \
    --env HOSTNAME=${TRAEFIK_HOST} \
    --env REVERSE_PROXY=127.0.0.1 \
    --env REVERSE_PROXY_TLS_PORT=443 \
    --env IFRAME=false \
    --env ALLOW_NEW_ACCOUNTS=false \
    --env WEBRTC=false \
    --env NODE_ENV=production \
    ${MESHCENTRAL_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/meshcentral-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP meshcentral-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/meshcentral-app.ctr-id
PIDFile=%t/meshcentral-app.pid
Type=forking

[Install]
WantedBy=default.target
